.main-section {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-color: #ffffff;
  color: #000000;
  transition-property: color, background-color;
  transition-duration: .6s;

  .title-h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
  }
}

.section-portfolio {
  padding: 40px 0;
}

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;

  &:hover {
    .hidden {
      opacity: 0;
    }

    .image {
      opacity: 1;
      transform: scale(1);
    }
  }

  .link {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease-in .3s;
    transform: scale(1.1);
  }

  .hidden {
    position: relative;
    transition: ease-in .3s;
  }

  .title {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
  }
}