<header class="header">
    <div class="container">
        <div class="header-content">
            <a class="logo" href="{% url 'index' %}">
                <svg class="icon">
                    <use xlink:href="#Logo-domik"></use>
                </svg>
                <span class="name last-name">
                    <svg class="icon">
                      <use xlink:href="#Logo-Ionko"></use>
                    </svg>
                </span>
                <span class="name first-name">
                    <svg class="icon one">
                      <use xlink:href="#Logo-Aleksei"></use>
                    </svg>
                    <svg class="icon two">
                      <use xlink:href="#Logo-design"></use>
                    </svg>
                </span>
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Прайс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
