{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'fonts/SKODANext/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/RobotoCondensed/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'sprite.html' %}
{% include 'partials/header.html' %}

{% block content %}{% endblock %}

{% include 'partials/footer.html' %}

<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
