{% extends 'base/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <main class="main">
        <div class="global-background-img"></div>
        <section class="main-section js-hideBackground">
            <div class="container">
                <h1 class="title-h1">
                    Алексей Йонко - лучший дизайнер в Росии! А также в
                    Калининградской области в частности!
                </h1>
            </div>
        </section>
        <section class="section-portfolio">
            <div class="container">
                <div class="portfolio-content">
                    <div class="portfolio-card js-HoverCard" data-background="#2B2E2EFF">
                        <div class="title">Кухня</div>
                        <img class="image" src="{% static 'img/jpg/card1.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                    <div class="portfolio-card js-HoverCard" data-background="#941608FF">
                        <div class="title">Спальня</div>
                        <img class="image" src="{% static 'img/jpg/card2.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                    <div class="portfolio-card js-HoverCard">
                        <div class="title">Детская</div>
                        <img class="image" src="{% static 'img/jpg/card3.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                    <div class="portfolio-card js-HoverCard">
                        <div class="title">Ванна</div>
                        <img class="image" src="{% static 'img/jpg/card4.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                    <div class="portfolio-card js-HoverCard">
                        <div class="title">Хол</div>
                        <img class="image" src="{% static 'img/jpg/card5.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                    <div class="portfolio-card js-HoverCard">
                        <div class="title">Гардероб</div>
                        <img class="image" src="{% static 'img/jpg/card6.jpg' %}" alt="load img">
                        <img class="hidden" src="{% static 'img/svg/card-mask.svg' %}" alt="load img">
                        <a href="#" class="link"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}
