body {
  font-family: 'SKODA Next', sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: #000000;
  transition: background-color 0.75s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  &.is-hidden{
    overflow: hidden;
    }
}

* {
  margin: 0;
}

.container {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title-h1 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 80%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
