body {
  font-family: "SKODA Next", sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: #000000;
  -webkit-transition: background-color 0.75s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: background-color 0.75s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}
body.is-hidden {
  overflow: hidden;
}

* {
  margin: 0;
}

.container {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title-h1 {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 80%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  color: #000000;
}
.header ul {
  list-style: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo .icon {
  max-width: 90px;
  fill: #000000;
}
.logo .name {
  -webkit-transition: opacity linear 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: opacity linear 0.5s, -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity linear 0.5s;
  transition: transform ease-in-out 0.5s, opacity linear 0.5s, -webkit-transform ease-in-out 0.5s;
  opacity: 0;
  text-transform: uppercase;
  color: #000000;
}
.logo .name .icon {
  max-height: 50px;
}
.logo .name.last-name {
  margin-left: -6px;
  margin-top: -10px;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  margin-right: 10px;
  -webkit-transform: matrix(1.2, 0, 0, 1, 30, 0);
          transform: matrix(1.2, 0, 0, 1, 30, 0);
}
.logo .name.first-name {
  -webkit-transform: matrix(1.2, 0, 0, 1, 40, 0);
          transform: matrix(1.2, 0, 0, 1, 40, 0);
}
.logo .name.first-name .icon {
  display: block;
}
.logo .name.first-name .icon.one {
  max-width: 114px;
  margin-top: -8px;
}
.logo .name.first-name .icon.two {
  margin-right: 0;
  max-width: 42px;
  max-height: 20px;
  margin-left: auto;
  margin-top: -10px;
}
.logo:hover .name {
  -webkit-transition: opacity ease 0.5s, -webkit-transform ease 0.5s;
  transition: opacity ease 0.5s, -webkit-transform ease 0.5s;
  transition: transform ease 0.5s, opacity ease 0.5s;
  transition: transform ease 0.5s, opacity ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}
.logo:hover .name.first-name {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-content .nav {
  font-family: "Roboto Condensed", sans-serif;
}
.header-content .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content .nav .nav-list .nav-item {
  margin-left: 45px;
}
.header-content .nav .nav-list .nav-item .nav-link {
  position: relative;
  z-index: 0;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 115%;
  color: inherit;
}
.header-content .nav .nav-list .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 0;
  background-color: #44444440;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.header-content .nav .nav-list .nav-item .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.main-section {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.main-section .title-h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: inherit;
}

.section-portfolio {
  padding: 40px 0;
}

.portfolio-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .hidden {
  opacity: 0;
}
.portfolio-card:hover .image {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.portfolio-card .link {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.portfolio-card .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio-card .hidden {
  position: relative;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.portfolio-card .title {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */