.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  color: #000000;

  ul {
    list-style: none;
  }
}

.logo {
  display: flex;

  .icon {
    max-width: 90px;
    fill: #000000;
  }

  .name {
    transition: transform ease-in-out .5s, opacity linear .5s;
    opacity: 0;
    text-transform: uppercase;
    color: #000000;

    .icon {
      max-height: 50px;
    }

    &.last-name {
      margin-left: -6px;
      margin-top: -10px;
      transition-delay: 50ms;
      margin-right: 10px;
      transform: matrix(1.2, 0, 0, 1, 30, 0);
    }

    &.first-name {
      transform: matrix(1.2, 0, 0, 1, 40, 0);

      .icon {
        display: block;

        &.one {
          max-width: 114px;
          margin-top: -8px;
        }

        &.two {
          margin-right: 0;
          max-width: 42px;
          max-height: 20px;
          margin-left: auto;
          margin-top: -10px;
        }
      }
    }
  }

  &:hover {

    .name {
      transition: transform ease .5s, opacity ease .5s;
      transition-delay: 0s;
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);

      &.first-name {
        transition-delay: 50ms;
      }
    }
  }
}

.header-content {
  display: flex;
  justify-content: space-between;

  .nav {
    font-family: 'Roboto Condensed', sans-serif;

    .nav-list {
      display: flex;
      align-items: center;

      .nav-item {
        margin-left: 45px;

        .nav-link {
          position: relative;
          z-index: 0;
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 115%;
          color: inherit;

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 40%;
            position: absolute;
            z-index: -1;
            top: 60%;
            left: 0;
            background-color: #44444440;
            transform: scaleX(0);
            transform-origin: right center;
            transition: transform .6s cubic-bezier(0.55, 0, 0.1, 1);
          }

          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }
}
